:root {
    --textwhite: rgba(255, 255, 255, 1);
    --texttitle: rgba(46, 46, 46, 1);
    --text-gray-900: rgba(24, 25, 31, 1);
    --text-gray-700: rgba(150, 155, 171, 1);
    --textbody: rgba(128, 128, 128, 1);
    --baseblack: rgba(0, 0, 0, 1);
    --secondarysoft-purple: rgba(247, 250, 254, 1);
    --default-white: rgba(255, 255, 255, 1);
    --body-16px-regular-font-family: "Inter-Regular", Helvetica;
    --body-16px-regular-font-weight: 400;
    --body-16px-regular-font-size: 16px;
    --body-16px-regular-letter-spacing: 0px;
    --body-16px-regular-line-height: 32px;
    --body-16px-regular-font-style: normal;
    --subtitle-subtitle-1-font-family: "Inter-Bold", Helvetica;
    --subtitle-subtitle-1-font-weight: 700;
    --subtitle-subtitle-1-font-size: 18px;
    --subtitle-subtitle-1-letter-spacing: 0px;
    --subtitle-subtitle-1-line-height: 28px;
    --subtitle-subtitle-1-font-style: normal;
    --lead-lead-2-font-family: "Inter-Medium", Helvetica;
    --lead-lead-2-font-weight: 500;
    --lead-lead-2-font-size: 14px;
    --lead-lead-2-letter-spacing: 0px;
    --lead-lead-2-line-height: 24px;
    --lead-lead-2-font-style: normal;
    --lead-lead-1-font-family: "Inter-Regular", Helvetica;
    --lead-lead-1-font-weight: 400;
    --lead-lead-1-font-size: 18px;
    --lead-lead-1-letter-spacing: 0px;
    --lead-lead-1-line-height: 32px;
    --lead-lead-1-font-style: normal;
    --heading-h2-font-family: "Inter-ExtraBold", Helvetica;
    --heading-h2-font-weight: 800;
    --heading-h2-font-size: 48px;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 64px;
    --heading-h2-font-style: normal;
    --heading-bold-heading-6-16px-font-family: "Inter-Bold", Helvetica;
    --heading-bold-heading-6-16px-font-weight: 700;
    --heading-bold-heading-6-16px-font-size: 16px;
    --heading-bold-heading-6-16px-letter-spacing: 0px;
    --heading-bold-heading-6-16px-line-height: 24px;
    --heading-bold-heading-6-16px-font-style: normal;
    --dark-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
  }
  